Task 1 - Install Spark, load required libraries, set environment variables, initiate Spark, load file

In [3]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar xf spark-2.4.6-bin-hadoop2.7.tgz

In [28]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [29]:
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [30]:
!pip install -q findspark

In [31]:
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"
import findspark
findspark.init()
# from google.colab import files
# files.upload()
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import isnan, when, count, col, lit
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder

In [32]:
spark=SparkSession.builder.master('local[*]').getOrCreate()

In [33]:
!dir

 Volume in drive C is Windows-SSD
 Volume Serial Number is 86BF-C434

 Directory of C:\Users\trand\OneDrive\Documents\Projects\Data Pipeline with Pyspark

04/16/2023  07:55 AM    <DIR>          .
04/16/2023  07:13 AM    <DIR>          ..
04/16/2023  07:25 AM    <DIR>          .idea
04/16/2023  07:19 AM    <DIR>          .ipynb_checkpoints
04/16/2023  07:55 AM            22,879 code_empty.ipynb
04/16/2023  07:29 AM         1,475,504 data.csv
               2 File(s)      1,498,383 bytes
               4 Dir(s)  375,940,571,136 bytes free

In [34]:
data=spark.read.csv('data.csv',inferSchema=True, header=True)

In [35]:
data.printSchema()

root
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Engine Fuel Type: string (nullable = true)
 |-- Engine HP: integer (nullable = true)
 |-- Engine Cylinders: integer (nullable = true)
 |-- Transmission Type: string (nullable = true)
 |-- Driven_Wheels: string (nullable = true)
 |-- Number of Doors: integer (nullable = true)
 |-- Market Category: string (nullable = true)
 |-- Vehicle Size: string (nullable = true)
 |-- Vehicle Style: string (nullable = true)
 |-- highway MPG: integer (nullable = true)
 |-- city mpg: integer (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- MSRP: integer (nullable = true)

In [36]:
data.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Make,11914,None,None,Acura,Volvo
Model,11914,745.5822222222222,1490.8280590623795,1 Series,xD
Year,11914,2010.384337753903,7.5797398875957995,1990,2017
Engine Fuel Type,11911,None,None,diesel,regular unleaded
Engine HP,11845,249.38607007176023,109.19187025917194,55,1001
Engine Cylinders,11884,5.628828677213059,1.78055934824622,0,16
Transmission Type,11914,None,None,AUTOMATED_MANUAL,UNKNOWN
Driven_Wheels,11914,None,None,all wheel drive,rear wheel drive
Number of Doors,11908,3.4360933825999327,0.8813153865835529,2,4
Market Category,11914,None,None,Crossover,"Performance,Hybrid"
Vehicle Size,11914,None,None,Compact,Midsize
Vehicle Style,11914,None,None,2dr Hatchback,Wagon
highway MPG,11914,26.637485311398354,8.863000766979422,12,354
city mpg,11914,19.73325499412456,8.987798160299237,7,137
Popularity,11914,1554.9111969111968,1441.8553466274648,2,5657
MSRP,11914,40594.737032063116,60109.10360365422,2000,2065902

In [37]:
def replace(column, value):
    return when(column != value,column).otherwise(lit(None))

In [38]:
data = data.withColumn('Market Category', replace(col('Market Category'), 'N/A'))

In [40]:
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]).show()

+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+
|Make|Model|Year|Engine Fuel Type|Engine HP|Engine Cylinders|Transmission Type|Driven_Wheels|Number of Doors|Market Category|Vehicle Size|Vehicle Style|highway MPG|city mpg|Popularity|MSRP|
+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+
|   0|    0|   0|               3|       69|              30|                0|            0|              6|           3742|           0|            0|          0|       0|         0|   0|
+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+

In [41]:
data = data.drop('Market Category')
data = data.na.drop()

In [42]:
print((data.count(),len(data.columns)))

(11812, 15)